<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENERATOR PUISI</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="bg-dark d-flex flex-column min-vh-100">
    {% include "header.html" %}
    <div class="container mt-5 text-light">
        <!-- pesan flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <!-- alert -->
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>                                
        {% endif %}
        {% endwith %}
        <div class="table-responsive">
            <table class="table table-borderless table-dark table-hover mb-5">
                <thead class="table-light">
                    <tr class="text-secondary">
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Level</th>
                        <th scope="col">Tanggal Registrasi</th>
                        <th scope="col">Terakhir Diubah</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in l_users %}
                    <tr>
                        <td>{{ user['id'] }}</td>
                        <td>{{ user['username'] }}</td>
                        <td>{{ user['email'] }}</td>
                        <td>{{ user['level'] }}</td>
                        <td>{{ user['tanggal_register'] }}</td>
                        <td>{{ user['tanggal_update'] }}</td>
                        <td class="d-flex justify-content-between">
                            <a href="edit_user/{{ user['id'] }}" class="btn btn-warning btn-sm" role="button">Edit</a>
                            <a href="{{ url_for('delete', id=user['id'])}}" class="btn btn-danger btn-sm" role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "footer.html" %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
</body>
</html>


